.contact {
  .heading {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 80px;
    font-family: $cormorant;
    @include font-size(70);

    @include MD {
      @include font-size(55);
    }

    @include SP {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 70px;
      @include font-size(50);
    }

    span {
      font-family: $han-serif;
      font-weight: 500;
      @include font-size(18);
      color: #BEBEBE;

      @include MD {
        @include font-size(16);
      }

      @include SP {
        margin-top: 5px;
        @include font-size(15);
      }
    }
  }

  .flow {
    margin-bottom: 160px;

    @include SP {
      margin-bottom: 140px;
    }

    &__content {
      display: flex;
      gap: 0 35px;
      margin: 0 40px;
      max-width: 850px;

      @include MD {
        margin: 0 auto;
      }

      @include max-screen(930px) {
        max-width: 688px;
      }

      @include SP {
        flex-direction: column;
        gap: 30px 0;
      }
    }

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px 0;
      width: calc(100% / 3);

      @include SP {
        flex-direction: row;
        gap: 0 20px;
        width: 100%;
      }

      &:not(:last-child) {
        &::after {
          position: absolute;
          top: 100px;
          right: -25%;
          content: '';
          display: block;
          width: calc((100% - 200px) + 35px);
          height: 1px;
          background: #fff;

          @include max-screen(930px) {
            right: -19%;
          }

          @include SP {
            top: 80px;
            left: 40px;
            right: unset;
            width: 1px;
            height: calc(100% - 50px);
          }
        }
      }
    }

    &__circle {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px 0;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid #fff;

      @include SP {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
      }
    }

    &__index {
      font-family: $aviano;
      @include font-size(18);
      text-align: center;

      @include SP {
        @include font-size(12);
      }

      span {
        display: block;
        @include font-size(42);
        line-height: 0.76;

        @include SP {
          @include font-size(34);
        }
      }
    }

    &__ttl {
      margin-bottom: 10px;
      font-family: $han-serif;
      font-weight: 500;
      @include font-size(22);

      @include SP {
        margin-bottom: 20px;
        @include font-size(18);
        line-height: 1.2;
        color: #fff;
      }
    }

    &__txt {
      font-family: $han-sans;
      font-weight: 400;
      color: #BEBEBE;
      line-height: 1.857;
    }
  }

  .apply {
    &__intro {
      margin: 0 40px 80px;
      @include font-size(18);
      color: #BEBEBE;
      line-height: 2;

      @include MD {
        margin: 0 0 60px;
      }

      @include SP {
        @include font-size(15);
      }
    }

    &__wrapper {
      display: flex;
      gap: 0 100px;
      margin: 0 40px;

      @include MD {
        gap: 0 50px;
        margin: 0;
      }

      @include SP {
        flex-direction: column;
      }
    }

    &__step {
      flex-shrink: 0;

      @include SP {
        display: flex;
        gap: 0 13px;
        margin-bottom: 70px;
      }

      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid #fff;
        color: #BEBEBE;

        @include SP {
          flex-direction: column;
          width: calc(100% / 3);
          margin-bottom: 0;
          padding-bottom: 20px;
        }

        &.current {
          color: #fff;
        }
      }

      &-index {
        font-family: $aviano;
        @include font-size(16);
        text-align: center;

        @include SP {
          padding-bottom: 5px;
          @include font-size(12);
        }

        span {
          display: block;
          @include font-size(30);
          line-height: 0.76;

          @include SP {
            @include font-size(34);
          }
        }
      }

      &-txt {
        padding: 0 22px;
        @include font-size(20);

        @include SP {
          @include font-size(16);
        }
      }
    }
  }

  .form {
    margin-bottom: 200px;

    @include SP {
      margin-bottom: 160px;
    }

    &__item {
      position: relative;
      margin-bottom: 46px;
    }

    &__label {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
      @include font-size(20);

      @include SP {
        margin-bottom: 16px;
        @include font-size(16);
      }

      &-tag {
        display: block;
        margin-right: 20px;
        width: 45px;
        height: 25px;
        line-height: 25px;
        font-family: $han-sans;
        font-weight: 400;
        @include font-size(12);
        text-align: center;

        &--required {
          background: #9D9477;
        }

        &--optional {
          background: #3B3B3B;
        }
      }
    }

    &__notice {
      position: absolute;
      top: 4px;
      right: 45px;
      font-family: $han-sans;
      font-weight: 400;
      @include font-size(12);
      color: #BEBEBE;
      line-height: 1.5;

      @include SP {
        position: static;
        margin: 14px 0 0 0;
      }
    }

    &__radio {
      display: flex;
      align-items: center;
      gap: 0 30px;

      @include MD {
        flex-wrap: wrap;
        gap: 14px 22px;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 0 12px;
        @include font-size(16);

        @include SP {
          width: calc(50% - 11px);
          @include font-size(15);
        }

        &::before {
          content: '';
          display: block;
          width: 22px;
          height: 22px;
          background-color: #1C1C1B;
          background-image: none;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 10px 10px;
          border: 1px solid #1C1C1B;
          transition: all .2s;
        }

        &:has(input:checked) {
          &::before {
            background-color: transparent;
            background-image: url(../img/apply/ico_check.svg);
            border: 1px solid #fff;
          }
        }
      }
    }

    &__checkbox {
      &-item {
        display: flex;
        align-items: center;
        gap: 0 12px;
        @include font-size(16);

        &:not(:last-child) {
          margin-bottom: 14px;
        }

        &::before {
          content: '';
          display: block;
          width: 22px;
          height: 22px;
          background-color: #1C1C1B;
          background-image: none;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 10px 10px;
          border: 1px solid #1C1C1B;
          transition: all .2s;
        }

        &:has(input:checked) {
          &::before {
            background-color: transparent;
            background-image: url(../img/apply/ico_check.svg);
            border: 1px solid #fff;
          }
        }
      }
    }

    &__input {
      width: 100%;
      height: 65px;
      padding: 0 20px;
      background: #1C1C1B;
      color: #fff;
      font-family: $han-sans;
      font-weight: 400;
      @include font-size(15);

      @include SP {
        height: 60px;
        @include font-size(14);
      }

      &::placeholder {
        color: #BEBEBE;
      }
    }

    &__textarea {
      width: 100%;
      height: 200px;
      padding: 20px;
      background: #1C1C1B;
      color: #fff;
      font-family: $han-sans;
      font-weight: 400;
      @include font-size(15);
      resize: none;
    }

    &__birthday {
      display: flex;
      gap: 0 14px;

      @include SP {
        gap: 0 8px;
      }

      &-item {
        position: relative;

        select {
          width: 100px;
          height: 65px;
          margin-right: 14px;
          padding: 0 20px;
          background: #1C1C1B;
          color: #fff;
          font-family: $han-sans;
          font-weight: 400;
          @include font-size(15);

          @include MD {
            width: 70px;
          }

          @include SP {
            height: 60px;
            margin-right: 8px;
            @include font-size(14);
          }
        }

        &:first-child select {
          width: 180px;

          @include MD {
            width: 90px;
          }
        }

        span {
          @include font-size(16);
        }

        &::before {
          content: '';
          position: absolute;
          top: 40%;
          right: 47px;
          display: block;
          width: 8px;
          height: 8px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: rotate(-45deg);

          @include SP {
            right: 43px;
          }
        }
      }
    }

    &__submit {
      display: block;
      margin-top: 80px;
      transition: all .3s;
      width: 100%;
      padding: 21px 0 24px;
      color: #fff;
      font-family: $aviano;
      @include font-size(34);
      border: 1px solid #fff;

      @include SP {
        margin-top: 60px;
        @include font-size(30);
      }

      span {
        display: block;
        font-family: $han-serif;
        font-weight: 500;
        @include font-size(14);

        @include SP {
          @include font-size(12);
        }
      }

      @include PC {
        &:hover {
          border: 1px solid #1C1C1B;
          background: #1C1C1B;
        }
      }
    }
  }
}